@use "./variables" as *;

button {
    border: 3px solid $color-gray;
    border-radius: 90%;
    font-size: 18px;
    padding: 10px 10px;
    background-color: $color-white;
    color:$color-blue;

}
    
button:hover {
    background-color: $color-peach;
  }

.buttons__clear {
    background-color: $color-l-salmon;
    
}

.buttons__operator--equals {
    grid-column: span 2;
    padding: 8px;
}  


