@use "./variables" as *;

button {
    border: 3px solid $color-gray;
    border-radius: 90%;
    font-size: 30px;
    padding: 30px 30px;
    background-color: $color-white;
    color:$color-blue;
    
}

button:hover {
    background-color: $color-l-salmon;
  }
