@use "./variables" as *;

button {
    border: 3px solid $color-black;
    border-radius: 90%;
    font-size: 30px;
    padding: 30px 30px;
    background-color: $color-white;
    
}

button:hover {
    background-color: $color-blue;
  }
