@use "./variables" as *;

body {
    margin: 30px 30px;
    padding:30px;
    background-color: $color-linen;
}

.calculator {
    border: 20px solid $color-l-salmon; 
    border-radius: 15%;
    padding:50px 50px;
    width: fit-content;
    background-color: $color-yellow;   

&__window {
    background-color: $color-white;
    border-radius: 5%;
    height: 150px;
    border: 3px solid $color-gray
    }     

&__grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    padding-top: 20px;

}

&__bigbutton {
    grid-column: span 2;
    padding: 30px;
}  
    
}




