@use "./variables" as *;

//Mobile optimized - see main.scss for mediaquerys

body {
    margin: 30px 10px;
    background-color: $color-l-blue;
}

.calculator {
    border: 20px solid $color-l-salmon; 
    border-radius: 15%;
    padding:20px 15px;
    width: 55vw;
    background-color: $color-yellow;   

&__window {
    background-color: $color-white;
    border-radius: 5%;
    height: 70px;
    border: 3px solid $color-gray;
    font-size: 40px;
        
    }     

&__grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,35px);
    grid-template-rows: repeat(5, 35px);
    gap: 5px;
    padding-top: 20px;
    width: 40vw;

}

}



    





