@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-black : black;
    $color-white: rgb(244, 244, 244);
    $color-linen: linen;
    $color-salmon: salmon;
    $color-gray: rgb(94, 94, 94);
    $color-blue: cadetblue; 
    $color-l-salmon: rgb(221, 191, 187);
    $color-yellow: rgb(247, 235, 216);