@use "./variables" as *;
@use "./layouts";
@use "./buttons";


* {
    box-sizing: border-box;
}


@media screen and (min-width: 768px) {

.calculator {
    width: 35vw;

&__grid{
    justify-content: flex-start;
    align-items: flex-start;    
    padding-left: 10px;

}    

}
}