@use "./variables" as *;
@use "./layouts";
@use "./buttons";


* {
    box-sizing: border-box;
}

//Tablet media query 
@media screen and (min-width: 768px) {

.calculator {
    width: 32vw;

&__grid{
    justify-content: flex-start;
    align-items: flex-start;    
    padding-left: 10px;

}    

}
}

//Laptop media query 

@media screen and (min-width: 1000px) {
    .calculator {
        width: 25vw;
    
    &__grid{
        justify-content: flex-start;
        align-items: flex-start;    
        padding-left: 10px;
    
    }    

}
}