@use "./variables" as *;
@use "./layouts";
@use "./buttons";


* {
    box-sizing: border-box;
}

//Tablet media query 
@media screen and (min-width: 768px) {

.calculator {
    width: 50vw;

&__grid{
    
    display: grid;
    justify-content: center;
    align-items: left;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5, 60px);
    gap: 12px;
    padding-top: 20px;
    width: 40vw;
    

}    

}

button {
    padding: 15px 15px;
    font-size: 25px;
}


}



//Laptop media query 

@media screen and (min-width: 1000px) {
    .calculator {
        width: 50vw;
    
        &__grid{
    
            display: grid;
            justify-content: center;
            align-items: left;
            grid-template-columns: repeat(4,80px);
            grid-template-rows: repeat(5, 80px);
            gap: 15px;
            padding-top: 20px;
            width: 45vw;
            
        
        }    
        
        }
        
        button {
            padding: 20px 20px;
            font-size: 35px;
        }
        
    }